version: '{build}'
clone_folder: c:\projects\squish
image:
- Visual Studio 2019

configuration:
- Release
- Debug

platform:
- x86
- x64

matrix:
  fast_finish: true
  
environment:
  matrix:
  - SQUISH_ALTIVEC: OFF
    SQUISH_SSE_MODE: NOSSE
#  - DSQUISH_USE_ALTIVEC: ON
#    DSQUISH_USE_SSE: NOSSE
#  - DSQUISH_USE_ALTIVEC: OFF
#    DSQUISH_USE_SSE: SSE
  - DSQUISH_USE_ALTIVEC: OFF
    DSQUISH_USE_SSE: SSE2

init:
- set arch=
- if "%arch%"=="Win64" ( set arch= Win64)
- echo %arch%
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2019" ( set generator="Visual Studio 16 2019%arch%" )
- echo %generator%

before_build:
- cmd: |-
    cd c:\projects\squish
    mkdir build
    cd build
    cmake --version
    cmake .. -G %generator% -DSQUISH_USE_ALTIVEC=%DSQUISH_USE_ALTIVEC% -DSQUISH_USE_SSE=%DSQUISH_USE_SSE%
    dir
    
build_script:
  - cd c:\projects\squish\build
  - cmake --build . --config %CONFIGURATION%